/* src/components/Login.css */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f7f7f7;
    font-family: 'Arial', sans-serif;
}

.login-form, .create-user-form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 10px;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box; 
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

button[type="button"] {
    background-color: #6c757d;
}

button[type="button"]:hover {
    background-color: #5a6268;
}

.error-message {
    background-color: #f8d7da; /* 薄い赤色の背景 */
    color: #721c24; /* ダークレッドの文字色 */
    border: 1px solid #f5c6cb; /* 薄い赤色のボーダー */
    padding: 10px; /* パディング */
    border-radius: 4px; /* 角を丸くする */
    margin-top: 10px; /* 上部のマージン */
    font-size: 16px; /* フォントサイズ */
    display: flex; /* フレックスボックスを使用 */
    align-items: center; /* 中央揃え */
}

.error-message::before {
    content: '⚠️'; /* アイコンを追加 */
    margin-right: 8px; /* アイコンとテキストの間にスペース */
}
